a {
    color: #a9714b;
}

a:hover {
    color: #262a10;
}

* {
    font-family: 'Helvetica Nue', 'Helvetica', 'Arial', sans-serif;
}

/* body */
body {
    background-image: url("../images/backgrounds/topography.png");
}

.body-dark {
    background-image: url("../images/backgrounds/topography_dark.png");
}

/* header */
#header {
    text-align: center;
    padding: 2rem;
    color: #262a10;
    text-emphasis: 900;
}

/* header h1 */
#header h1 {
    font-weight: 900;
}

/* sets images to have some padding */ 
img {
    padding: 5px;
}

/* temporary padding fix for paragraphs */
/* UPDATE THIS!!!! */
p {
    padding: 3px;
    text-align: justify;
}

/* img in "images" section */
#images img {
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* top rides section imgs */
#top-rides img {
    display: block;
    width: 40%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

/* nav bar */
nav {
    background-color: #13300f;
    position: fixed;
    overflow: hidden;

}

/* nav links */ 
.navbar a {
    color: white;
    padding: 12px 24px;
    font-size: 2em;
    float: left;
    text-align: center;
}

/* navigation list items */
nav li {
    display: inline;
    margin-right: 1rem;
}


/* navbar link hover */
.navbar a:hover {
    background-color: #966529;
    color: #13300f;
    text-decoration: none;
}

/* container*/
.container {
    background-color: #fcfcfc;
    width: 95%;
    padding: 30px;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px 5px;
}

/* h2 element in .container */
.container h2 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

/* ciation for images */
.img-citation {
    font-size: .75em;
    text-align: center;
}

/* home page rides section */
#rides {
    margin-top: 50px;
}

[class*="col-"] {
    width: 100%;
  }

@media (min-width: 768px) {
    .container {
        max-width: 97%;
        box-shadow: 2.5px 2.5px 2.5px 2.5px;
    }
}

@media (min-width: 992px) {
    .container{
        font-size: 1.4rem;
        max-width: 95%
    }
}

@media (min-width: 1200px) {
    .container{
        font-size: 1.3rem;
        max-width: 90%;
    }
}

footer {
    margin-top: 20px;
}
