/* CSS file for Trails page */

a {
    color: #a9714b;
}

/*dark mode button*/
#dark_mode {
    display: block;
}

/* h3 */
h3 {
    text-align: center;
}

/* blurb p */
#blurb p {
    text-align: center;
}

.trail {
    margin-top: 35px;
}

/* trail img */
.trail img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* trail paragraph and list */
.trail p, ul {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* iframe for maps & youtube */
iframe {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* weather container */
#weather-app {
    margin-top:35px;
}

/* weather input elements */
#weather-app input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

/* weather city name */
#weather-app .city-name {
    padding-top: 10px;
}

/* weather text */
#weather-app p {
    text-align: center;
}

/* weather submit button */
#submit-button {
    margin-bottom: 0.5em;
    color: white;
    background-color: #13300f;
}

/* weather input field */
#weather-app .inputValue {
 width: 65%;
}

/* weather description */
#weather-app .desc {
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .container {
        max-width: 80%;
        box-shadow: 2.5px 2.5px 2.5px 2.5px;
    }
}

@media (min-width: 992px) {
    .container{
        font-size: 1.4rem;
        max-width: 95%
    }
}

@media (min-width: 1200px) {
    .container{
        font-size: 1.3rem;
        max-width: 70%;
    }
}
