
/* home container */
.container {
    margin-top: 40px;
}

/* home paragraph*/
.home p {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* home img */
.home img {
    display: block;
    width: 80%;
    margin-left: auto;1
    margin-right: auto;
    padding: 10px;
}
